@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 280px;
    background: #f3f3f3;
  }

  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
  }

  #sideNav .img-profile {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-top: 100px;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
  }
}
